[submodule "backend"]
	path = backend
	url = git@github.com:gohermgo/rustystack-backend.git
[submodule "ui"]
	path = ui
	url = git@github.com:gohermgo/rustystack-ui.git
[submodule "common"]
	path = common
	url = git@github.com:gohermgo/rustystack-common.git
